lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
pids
logs
results
tmp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Assets
public/
dist/

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.idea/*
